
.kh-container{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 3px gray;

}
.kh-container1{
    display: flex;
    justify-content: center;

}
.kh-center{
    width: 80%;
}
.kh-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;

}
.kh-navbar ul{
    display: flex;
}
.kh-navbar ul li a{
    border-radius: 20px;
    margin: 5px 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: rgba(31, 46, 53, 0.8);
}
.kh-navbar ul li a:hover{
    background-color: #d11b21;
    color: white;
}
.kh-navbar ul li{
    list-style-type: none;
}
.kh-icons i{
    padding: 10px;
    margin: 0px 15px;
    border-radius: 50px;
}
.kh-icons i:hover{
    background-color: #d11b21;
    color: white;
}
.kh-inf{
    display: flex;
    margin-top: 100px;

}
.kh-inf .kh-left{
    width: 45%;
    margin-top: 20px;
}
.kh-inf .kh-left h1{
    margin: 30px 0px;
}
.kh-inf .kh-left p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #30444E;

    margin: 30px 0px;
}
.kh-inf .kh-left button{
    padding: 10px 30px;
    background-color: #EE4248;
    border: none;
    color: white;
}
.kh-inf .kh-left span{

    color: #EE4248;
  
}
.kh-inf .kh-left button:hover{
    background-color: #cd060d;
    color: white;
}
