
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.iscontainer{
    display: flex;
    justify-content: center;
}
.iscenter{
    width: 80%;
    display: flex;
    align-items: flex-end;
}
.isleft{
    width: 33%;
}
.isleft h1{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #263238;
    padding: 20px 0px 8px 0px;  
}
.isleft p{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    line-height: 149.19%;
    color: #263238;  
}
.isright{
    width: 33%;
    
}
.isright h1{
    font-family: 'Roboto';
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #263238;
margin-bottom: 9%;
}
.isright a{
    text-decoration: none;
}
.isright p{
    font-family: 'Roboto';
font-weight: 300;
font-size: 18px;
line-height: 149.19%;
color: #263238;
}
.isright p:hover{
    color: rgb(39, 147, 48);
}
.iscopi{
  text-align: center;
  padding: 22px 0px ;
  margin-top: 20px;
  background: #EE4248;

}
.iscopi p{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    

.NHname{
    margin-top: 116px;
    text-align: center;
}
.NHname h1{
    font-weight: 500;
    font-size: 32px;
    color: #1F2E35;
}
.NHteam{
    display: flex;
}
.NAcent{
  width: 80%;
}
.NHpro{
    margin-left: 130px;
}
.NHpro h1{
    
    font-weight: 500;
    font-size: 32px;
    text-align: center;
}
.NHpro img{
    margin-top: 50px;
    
   
}
.NHpro h2{
    margin-top: 16px;
    color: #EE4248;
    font-size: 28px;
    font-weight: 500;
}
.NHpro p{
    margin-top: 15px;
    width: 319px;
    font-size: 18px;
    color: #30444E;
    line-height: 150%;
}
.NHbut{
    margin-top: 15px;
}
.NHbut button{
    padding: 8px 16px;
    background-color: #EE4248;
    border: none;
    border-radius: 4px;
    color: white;
}
.NHbut button:hover{
    background-color: grey;
    cursor: pointer;
    transition: 0.7s ease;
    color: aqua;
   border: 5px;
}
.Ali-main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: #F6F6F6;
}
.Ali-center{
    width: 80%;
    display: flex;
    justify-content: space-between;  
}
.ALI-welc{
    display: flex;
}
.ali-right{
    width: 40%;
    position: absolute;
    top: 80px;
    left: 650px;
}
.ali-right h1{
    font-weight: 500;
    font-size: 38px;
    color: #1F2E35;
}
.ali-right span{
    color: red;
}
.ali-right p{ 
    margin-top: 40px;
    font-weight: 400;
    font-size: 20px;
    color: #30444E;
}


.kh-container{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 3px gray;

}
.kh-container1{
    display: flex;
    justify-content: center;

}
.kh-center{
    width: 80%;
}
.kh-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;

}
.kh-navbar ul{
    display: flex;
}
.kh-navbar ul li a{
    border-radius: 20px;
    margin: 5px 10px;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: rgba(31, 46, 53, 0.8);
}
.kh-navbar ul li a:hover{
    background-color: #d11b21;
    color: white;
}
.kh-navbar ul li{
    list-style-type: none;
}
.kh-icons i{
    padding: 10px;
    margin: 0px 15px;
    border-radius: 50px;
}
.kh-icons i:hover{
    background-color: #d11b21;
    color: white;
}
.kh-inf{
    display: flex;
    margin-top: 100px;

}
.kh-inf .kh-left{
    width: 45%;
    margin-top: 20px;
}
.kh-inf .kh-left h1{
    margin: 30px 0px;
}
.kh-inf .kh-left p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 29px;

color: #30444E;

    margin: 30px 0px;
}
.kh-inf .kh-left button{
    padding: 10px 30px;
    background-color: #EE4248;
    border: none;
    color: white;
}
.kh-inf .kh-left span{

    color: #EE4248;
  
}
.kh-inf .kh-left button:hover{
    background-color: #cd060d;
    color: white;

}